/* Preview */
.mark, 
.markdown-preview-view mark,
.markdown-preview-view .token.mark {
  background-color: rgba(2255, 122, 122, 0.3); /* vermelho com 25% de opacidade */
  color: #ffffff;
  padding: 0.06em 0.18em;
  border-radius: 0.28em;
}

/* Editor */
.cm-highlight,
.cm-mark,
.cm-s-obsidian .cm-highlight,
.cm-s-obsidian .cm-mark,
.CodeMirror .cm-highlight {
  background-color: rgba(255, 112, 112, 0.3) !important;
  color: #ffffff !important;
  border-radius: 4px;
  padding: 0 0.12em;
}

